*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

img{
    object-fit: cover;
}